*,
:before,
:after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  font-weight: 300;
  background-color: #111;
  overflow-x: hidden; }

main {
  color: #bbb;
  background-color: #555;
  background: linear-gradient(-135deg, rgba(0, 61, 43, 0.8) 10%, #003d2b);
  outline: 1px solid #222;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.main-header {
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: #eee;
  width: 100%; }

.main-footer {
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: #eee;
  width: 100%; }

.components {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }

h2 {
  color: #e2e2e2;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%; }

.material-icons {
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-style: normal; }

.btn {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  color: inherit;
  box-shadow: none;
  background: transparent;
  border: none;
  font-size: 100%;
  font-weight: inherit;
  padding: 0;
  margin: 0; }

.placeholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .placeholder--3 {
    flex: 1 1 auto; }

.react-component {
  width: 100%;
  position: relative; }

.box {
  width: 100%;
  flex: 1 1 auto;
  border-bottom: 1px solid gray;
  padding: 1rem; }

.basket {
  position: relative; }
  .basket--theme-dark {
    background-color: rgba(0, 0, 0, 0.5); }
  .basket--theme-light {
    background-color: rgba(255, 255, 255, 0.5);
    color: black; }
  .basket__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: inherit; }
    .basket__info > * {
      margin-left: .25rem; }
  .basket__status {
    min-width: 6rem; }
  .basket__label {
    display: inline-block;
    margin-right: 2px; }
  .basket__icon {
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    position: relative;
    margin-right: .5rem; }
  .basket__value.anim {
    animation: basket cubic-bezier(0.4, 0, 0.2, 1) 180ms forwards; }

@keyframes basket {
  0%,
  100% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }

.products {
  padding-top: 1rem;
  min-height: 10rem;
  position: relative; }
  .products--theme-dark {
    background-color: rgba(0, 0, 0, 0.5); }
  .products--theme-light {
    background-color: rgba(255, 255, 255, 0.5);
    color: black; }
  .products__title {
    margin-bottom: .5rem;
    color: inherit; }
  .products__list {
    margin-left: auto;
    max-width: 300px; }

.product-item {
  transition: 200ms;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  padding-left: .5rem;
  position: relative;
  margin-bottom: 2px; }
  .product-item:after {
    pointer-events: none;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 4px;
    background: linear-gradient(90deg, rgba(226, 226, 226, 0.1) 50%, transparent); }
  .product-item.hover:not(.disabled):after {
    opacity: 1; }
  .product-item.disabled {
    opacity: .5; }
  .product-item__info {
    flex: 1;
    z-index: 1;
    line-height: 1;
    display: flex;
    align-items: center;
    position: relative; }
    .product-item__info .material-icons {
      margin-right: .5rem; }
  .product-item__icon--animate-wrap {
    transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
    margin: 0;
    width: 24px;
    height: 24px; }
  .product-item__icon--animate {
    animation: animation-shake-x 500ms 2;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%; }
  .product-item__action {
    z-index: 1;
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 0 4px #bbb; }
    .product-item__action:hover:not([disabled]) {
      box-shadow: 0 0 20px #bbb; }
    .product-item__action[disabled] {
      cursor: not-allowed; }

.inventory-summary {
  position: relative;
  min-height: 6rem; }
  .inventory-summary--theme-dark {
    background-color: rgba(0, 0, 0, 0.5); }
  .inventory-summary--theme-light {
    background-color: rgba(255, 255, 255, 0.5);
    color: black; }
  .inventory-summary__title {
    margin-bottom: .5rem;
    color: inherit; }
  .inventory-summary__items {
    display: flex;
    flex-direction: column; }

.inventory-summary-item {
  display: flex;
  display: inline-flex;
  flex-flow: row wrap;
  margin-right: auto;
  align-items: center;
  border-radius: 2px;
  padding: .25rem .25rem;
  background: rgba(255, 255, 255, 0.1); }
  .inventory-summary-item + * {
    margin-top: .5rem; }
  .inventory-summary-item__name, .inventory-summary-item__count, .inventory-summary-item__icon {
    display: inline-block;
    position: relative; }
  .inventory-summary-item__icon {
    margin-right: .25rem; }
  .inventory-summary-item__name {
    margin-right: .25rem;
    font-size: 120%;
    min-width: 6rem; }
  .inventory-summary-item__count {
    min-width: 2rem; }

.inventory {
  position: relative;
  min-height: 6rem; }
  .inventory--theme-dark {
    background-color: rgba(0, 0, 0, 0.5); }
  .inventory--theme-light {
    background-color: rgba(255, 255, 255, 0.5);
    color: black; }
  .inventory__title {
    margin-bottom: .5rem;
    color: inherit; }
  .inventory__list {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap; }

.inventory-item {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  border: 1px solid #444;
  border-radius: 4px;
  margin-right: .5rem;
  margin-bottom: .5rem;
  padding: .25rem;
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  background: transparent; }
  .inventory-item:after {
    border-radius: inherit;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    background: linear-gradient(135deg, transparent 5%, rgba(255, 0, 0, 0.4)); }
  .inventory-item.hover:after {
    opacity: 1; }
  .inventory-item__title {
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center; }
    .inventory-item__title:hover .inventory-item__name {
      opacity: 1; }
  .inventory-item__name {
    position: absolute;
    transition: 200ms;
    opacity: 0;
    top: -.6rem;
    left: -.5rem;
    height: 1rem;
    width: 8rem; }
  .inventory-item__animate {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    position: fixed;
    opacity: 1;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 2;
    transform-origin: 50% 50%; }
  .inventory-item__action {
    z-index: 1;
    transition: 200ms;
    margin-left: auto;
    box-shadow: 0 0 4px #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: .5rem; }
    .inventory-item__action:hover {
      box-shadow: 0 0 10px #bbb; }

.loading-tracker {
  position: relative; }
  .loading-tracker__overlay {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; }
    .loading-tracker__overlay + * {
      pointer-events: none;
      filter: blur(2px); }
  .loading-tracker__box {
    position: relative;
    border-radius: 4px;
    width: 80%;
    height: 80%;
    max-height: 6rem;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .loading-tracker__name {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
    font-size: 120%;
    text-transform: capitalize; }
  .loading-tracker__message {
    display: inline-block;
    position: relative; }

@keyframes animation-shake-x {
  0%,
  50%,
  100% {
    transform: translateX(0); }
  25% {
    transform: translateX(20px); }
  75% {
    transform: translateX(-20px); } }

.load-bar {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #003d2b; }
  .load-bar__item {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center; }
    .load-bar__item:nth-child(1) {
      background-color: #4d776b;
      animation: loading 2s linear 1s infinite; }
    .load-bar__item:nth-child(2) {
      background-color: #003d2b;
      animation: loading 2s linear infinite; }

@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100; }
  50% {
    left: 0;
    width: 100%;
    z-index: 10; }
  to {
    left: 0;
    width: 100%; } }

.example-enter {
  opacity: 0.01 !important; }

.example-enter.example-enter-active {
  opacity: 1 !important;
  transition: opacity 2000ms ease-in !important; }

.example-leave {
  opacity: 1 !important; }

.example-leave.example-leave-active {
  opacity: 0.01 !important;
  transition: opacity 2000ms ease-in !important; }

.example-appear {
  opacity: 0.01; }

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }
