.textbox {
  &__group {
    .pure-button {
      width: 100%;
    }
    @media (min-width: 481px) {
      /* pure-css breakpoint */
      display: flex;
      > * + * {
        /* quick css, this is prototyping */
        margin-left: 1rem;
      }
      .pure-button {
        width: auto;
      }
    }
  }
  &__input {
    width: 100%;
    flex: 1;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    //justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    &-content {
      flex: 1 1 0%;
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      color: black;
      font-size: 1.5rem;
      background: rgba(dodgerblue,.8);
      border-color: white;
    }
  }
}
